<!DOCTYPE html>
<html lang="hi">

<head>

	<link rel="preload" href="/www/NotoSansDevanagari-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/www/NotoSansDevanagari-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
	
	{% include "styles.html" %}

	{% block head %}
	head properties here
	{% endblock %}
	
	<base href="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/www/favicon.ico">
</head>

<body>

	<main>

		{% block body %}
		Content goes here.
		{% endblock %}

	</main>

</body>

</html>