{% extends "v1/skeleton.html" %}
{% import "v1/common.html" as macros %}

{% block head %}
<title>
	{% if posts[0].title %}{{posts[0].title | safe}}-{% endif %}{{posts[0].content.slice(0,50) | safe}}
</title>
<script src="/www/v1/common.js" defer></script>
<script src="/www/v1/thread.js" defer></script>
{% endblock %}

{% block body %}

<div class="board-feed">

	<aside class="board-feed__sidebar">
		{{macros.replies()}}
	</aside>


	<div class="board-feed__column board-feed__column--new">
		<div class="post-list ">
		{{ macros.postList(newPosts, board) }}
		</div>
	</div>

	<div class="board-feed__column board-feed__column--hot">
		<div class="post-list post-list--thread">
		{{ macros.postList(posts) }}

		<div class="newPostWindow hidden" style="position : sticky; bottom : 0; z-index : 4;">
				<form method="post" enctype="multipart/form-data" id="uploadForm">
					<textarea rows="8" cols="40" placeholder="विवरण : अपनी बात यहाँ लिखें..." id="content" name="content"
						minlength="1" maxlength="1000" autocomplete="off" required></textarea>
					<span class="fileName"></span>
					<!-- <label for="file" class="fakeLink">संचिका (फाइल) : </label><span class="fileName"></span> -->
					<!-- <input type="file" id="file" name="file" accept="image/*, video/*" required/> -->
					<input type="file" name="file" id="file" accept=".jpg,.jpeg,.png,.gif,.webp,.mp4,.webm"
						hidden>
					<div class="formbtn">
						<button type="button" class="newPostButton">बंद करें</button>
						<button type="button" class="fakeLink">संचिका</button>
						<button type="reset" class="">पूर्वावस्था</button>
						<button type="submit">भेजें</button>
					</div>
					<progress id="progressBar" max="100" value="0" hidden></progress>
					<p id="status"></p>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}