{% extends "v2/skeleton.html" %}
{% import "v2/common.html" as macros %}

{% block head %}
<title>
	{% if posts[0].title %}{{posts[0].title | safe}}-{% endif %}{{posts[0].content.slice(0,50) | safe}}
</title>
<script src="/www/common.js" defer></script>
<script src="/www/thread.js" defer></script>
{% endblock %}

{% block body %}

<div class="board-feed">

	<!-- <aside class="board-feed__sidebar"> -->
		<!-- {{macros.navigation(boards)}} -->
	<!-- </aside> -->


	<div class="board-feed__column board-feed__column--new">
		{{ macros.postList(newPosts, boards) }}
	</div>

	<div class="board-feed__column board-feed__column--hot">
		{{ macros.postList(posts) }}
	</div>
</div>

<div class="newPostWindow hidden">
	<form method="post" enctype="multipart/form-data" id="uploadForm">
		<label for="name">नाम :</label>
		<br>
		<input type="text" id="name" name="name" placeholder="अपरिचित" maxlength="50" />
		<br>
		<label for="content">विवरण :</label>
		<br>
		<textarea rows="8" cols="40" placeholder="अपनी बात यहाँ लिखें..." id="content" name="content" required
			minlength="1" maxlength="1000" spellcheck="true" autofocus></textarea>
		<br>
		<label for="file">संचिका :</label>
		<br>
		<input type="file" id="file" name="file" placeholder="file" accept="image/*,video/*" />
		<br>
		<div class="formbtn">
		<button type="button" class="closeButton">बंद करें</button>
		<button type="reset" class="">पूर्वावस्था में लाएं</button>
		<button type="submit">भेजें</button>
		</div>
		<progress id="progressBar" max="100" value="0" hidden></progress>
		<p id="status"></p>
	</form>
</div> 

<div id="goBack">
	Go Back
</div>

{% endblock %}